/* Animations */

/* jump animation */
@keyframes jump { 
    0% {
        bottom: 45px;
    }
    40%{
        bottom: 185px;
    }
    50%{
        bottom: 185px;
    }
    60%{
        bottom: 185px;
    }
    100% {
        bottom:45px;
    }
}

/* obstacle animation */
@keyframes obstacle-transition {
    from{
        right: -40px;
    }
    to{
        right: 100%;
    }
}

/* background animation */
@keyframes bg-transition {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-80%);
    }
}
/* floor animation */
@keyframes floor-transition {
    from{
        transform: translateX(0);
    }
    to{
        transform: translate(-70%);
    }
}

/* plane animation */
@keyframes plane {
    0%{
        right: -1000px;
        top: 140px;
    }
    100%{
        top: 30px;
        right: 870px;
    }
}